# Node / frontend
node_modules/
dist/
.vite/

# Env files
.env
.env.local

# Python / backend
.venv/
__pycache__/
*.pyc

backend/.env
backend/venv/

# Firebase
firebase-service-account.json

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/